// Variables
$primary-color: #f7f1f1;
$secondary-color: #000000;
$font-stack: 'Roboto', sans-serif;
$background-image: url('../img/body1.jpg'); // Cambia la ruta a tu imagen de fondo

@import "utilities/nosotros";
@import "utilities/shop";
@import "utilities/cita";
@import "utilities/servivios";

// Estilos globales
html, body {
  height: 100%;
  margin: 0;
}

body { 
  display: flex;
  flex-direction: column;
  font-family: $font-stack;
  background-color: $primary-color;
}

a {
  text-decoration: none;
  color: inherit;
}

// Estilos del header
header {
  .top-header {
    background-color: $secondary-color;
    padding: 20px 0;

    .container {
      display: flex;
      align-items: center;

      .logo {
        width: 50px;
        height: auto;
      }

      .company-name-image {
        width: 140px;
        height: auto;
        margin-top: 5px;
      }
    }
  }

  .navbar {
    background-color: $secondary-color;

    .navbar-toggler {
      background-color: black;  // Color del botón hamburguesa
      border: none;
    }

  

    .navbar-nav {
      .nav-link {
        color: $primary-color;
        font-weight: 500;
        margin: 0 10px;

        &:hover {
          color: lighten($primary-color, 10%);
        }
      }
    }

    // Ajuste para desplegar el menú hamburguesa a la izquierda
    .navbar-collapse {
      justify-content: flex-start;  // Alinea el contenido a la izquierda
      text-align: left;

      .navbar-nav {
        .nav-item {
          .nav-link {
            padding-left: 0; // Elimina el padding innecesario
            display: block;
            color: $primary-color;
          }
        }
      }
    }
  }
}

// Main
.main-l {
  flex: 1;
  padding: 20px;
  background-image: $background-image;
  background-size: cover;
  background-position: center;
}

// Estilos para el carrusel
.carousel-inner {
  border: 1px solid $secondary-color;
  background-color: lighten($secondary-color, 20%);
  border-radius: 15px; /* Añadimos borde redondeado */
  overflow: hidden; /* Para que las imágenes se mantengan dentro del borde redondeado */
  transition: transform 0.3s ease-in-out;
}

.carousel-item img {
  width: 100%;
  border-radius: 15px; /* Borde redondeado en las imágenes del carrusel */
}

// Contenedor principal para las imágenes destacadas
.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.image-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border: 1px solid $secondary-color;
  background-color: lighten($secondary-color, 20%);
  border-radius: 15px; // Añade el radio de borde para que coincida con las tarjetas
  transition: transform 0.3s ease-in-out;
}

img.rounded-image {
  width: 450px;
  border-radius: 15px; // Radio de borde a la imagen
}

// Contenedor principal para las cards
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

// Estilos de las cards
.card {
  background-color: lighten($secondary-color, 20%);
  border: 1px solid $secondary-color;
  width: 100%;
  max-width: 221px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; // Transiciones para hover

  // Hover effect
  &:hover {
    transform: scale(1.05); // Aumenta ligeramente el tamaño
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); // Añade una sombra alrededor de la tarjeta
  }
}

// Footer
footer {
  background-color: $secondary-color;
  color: $primary-color;

  h5 {
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      display: inline;
      margin-right: 10px;

      a {
        color: $primary-color;

        &:hover {
          color: lighten($primary-color, 10%);
        }
      }
    }
  }
}

// Media queries para móviles
@media (max-width: 767px) {
  /* Ocultar todas las cards excepto las dos primeras en mobile */
  .cards-container .card:nth-child(n+3) {
    display: none; /* Ocultar las cards a partir de la tercera */
  }

  /* Ajustar las dos primeras cards para que entren en una fila */
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacio entre las dos tarjetas */
  }
 
  .card {
    width: 42%; /* Ajustar el ancho de las cards para que entren dos en una fila */
    height: auto; /* Ajustar la altura para mantener la relación de aspecto */
  }
  
}

// Media queries para tablets
@media (min-width: 768px) and (max-width: 1024px) {
  /* Ocultar todas las cards excepto las tres primeras en tablets */
  .cards-container .card:nth-child(n+4) {
    display: none; /* Ocultar las cards a partir de la cuarta */
  }

  /* Ajustar las tres primeras cards para que entren en una fila */
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacio entre las tres tarjetas */
  }

  .card {
    width: 30%; /* Ajustar el ancho de las cards para que entren tres en una fila */
    height: auto; /* Ajustar la altura para mantener la relación de aspecto */
  }
}
