.about-us-section {
  padding: 5px 0;

  .container {
    .row {
      display: flex;
      align-items: center;
      background-color: rgba(244, 250, 250, 0.856);
      border-radius: 15px;
    }

    .rounded-image {
      border-radius: 15px;
      width: 60%;
      max-height: 450px;
      object-fit: cover;
      margin-bottom: 0; // Eliminamos el margen inferior de la imagen para acercarla al texto
    }

    .about-us-title {
      font-size: 2rem;
      font-weight: bold;
      color: $secondary-color;
      margin-bottom: 5px; // Reducimos el margen inferior del título
    }

    .about-us-text {
      font-size: 1.1rem;
      color: darken($secondary-color, 20%);
      line-height: 1.4; // Ajustamos el interlineado para acercar más las líneas
      margin-top: 0; // Eliminamos cualquier margen superior para que esté cerca del título
    }
  }
}
