// Variables
$primary-color: #f7f1f1;
$secondary-color: #000000;
$button-elegant-color: #070706; 
$button-elegant-hover: darken($button-elegant-color, 10%);
$card-bg-color: #faf8f5; 
$card-border-color: #e0e0e0; // Borde

// Estilos globales
body { 
  font-family: 'Roboto', sans-serif;
  background-color: $primary-color;
}

// Título de la sección
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: $secondary-color;
  margin-bottom: 40px;
}

// Estilos para la sección de categorías
button.btn-elegant {
  background-color: $button-elegant-color;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;

  &:hover {
    background-color: $button-elegant-hover;
  }
}

// Estilos de centrado
.row {
  justify-content: center;
}

.container {
  text-align: center;
}
