// Variables para imágenes de fondo
$body-bg-image: url('../img/body1.jpg');  // Cambia la ruta de la imagen
$header-bg-color: #030303;  // Cambia la ruta de la imagen
// Variables
// Variables
$primary-color: #ffffff;
$secondary-color: #000000;
$font-stack: 'Roboto', sans-serif;
